<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>国产优秀 Chrome 扩展</title>

  <link href="https://cdn.bootcss.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet">
  <link href="https://cdn.bootcss.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
  <link href="./assets/styles/app.css" rel="stylesheet">
  <script src="https://cdn.bootcss.com/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://cdn.bootcss.com/bootstrap/4.0.0/js/bootstrap.bundle.min.js"></script>
  <script src="https://cdn.bootcss.com/vue/2.5.15/vue.min.js"></script>

  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-19523104-3"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'UA-19523104-3');
  </script>

  <script type="text/x-template" id="tpl-category">
    <a class="list-group-item list-group-item-action"
       :class="{ active: active }" :href="categoryLink"
       @click="setActive">
       {{ category.fields.Name }}
    </a>
  </script>

  <script type="text/x-template" id="tpl-extension">
    <div class="card mb-3">
      <img class="card-img-top" :src="thumb" alt="截图" class="d-block d-sm-none w-100">
      <div class="card-body">
        <div class="row">
          <div class="col-sm-8">
            <h5 class="card-title float-left">{{ extension.fields.Name }}</h5>
            <small class="float-left text-muted ml-2" style="line-height: 24px;"><i class="fa fa-user"></i> {{ author.fields.Name }}</small>

            <div class="clearfix"></div>
            <small class="badge badge-pill badge-secondary">{{ category.fields.Name }}</small>
            <p class="card-text mt-2">{{ extension.fields.Notes }}</p>
            <a :href="extension.fields.Webstore" v-if="extension.fields.Webstore" class="btn btn-light" target="_blank"><i class="fa fa-chrome"></i></a>
            <a :href="extension.fields.Source" v-if="extension.fields.Source" class="btn btn-light" target="_blank"><i class="fa fa-github"></i></a>
            <a :href="extension.fields.Site" v-if="extension.fields.Site" class="btn btn-light" target="_blank"><i class="fa fa-home"></i></a>
          </div>
          <div class="col-sm-4 d-none d-sm-block">
            <div class="position-relative h-100">
              <img :src="thumb" alt="截图" class="extension-thumb position-absolute" /> 
            </div>
          </div>
        </div>
      </div>
    </div>
  </script>
</head>

<body class="bg-light">
  <div class="container" id="app">
    <div class="py-5 text-center">
      <img class="d-block mx-auto mb-4" src="./assets/images/chrome.png" alt="">
      <h2>国产优秀 Chrome 扩展</h2>
      <p class="text-muted">推荐中国开发者的优秀 Chrome 扩展程序</p>
    </div>
    <div class="row">
      <div class="col-md-3">
        <div class="card mb-3">
          <div class="card-header">分类</div>
          <div class="list-group list-group-flush">
            <category v-for="category in categories" :key="category.id"
                      :category="category"
                      :active="activeCategoryId == category.id"
                      @active="setActiveCategory" />
          </div>
        </div>
      </div>
      <div class="col-md-9">
        <div style="min-height: 300px;">
          <extension v-for="extension in filteredExtensions" :key="extension.id" :extension="extension" />
        </div>
      </div>
    </div>
  </div>

  <footer class="mt-5">
    <div class="container text-center">
      <p>Hosted by <a href="https://pages.coding.me" style="font-weight: bold">Coding Pages</a>, Powered by <a href="https://airtable.com/invite/r/0MNN2ozI" style="font-weight: bold">Airtable</a></p>
    </div>
    
  </footer>

  <script type="text/javascript" src="./assets/scripts/app.js"></script>
</body>

</html>